<div class="container p-4">
  <div class="header-actions">
        <%= link_to :back do %>
            <%= image_tag "https://res.cloudinary.com/dhv4phhqr/image/upload/v1749757945/back_epdna9.svg", alt: "arrow" %>
        <% end %>
        <%= link_to root_path do %>
            <%= image_tag "https://res.cloudinary.com/dhv4phhqr/image/upload/v1749757944/quit_jweu9c.svg", alt: "cross" %>
        <% end %>
      </div>
    <h1 class="mb-5">Ai Assistant</h1>

    <div class="fixed-bottom-button">
      <%= button_tag(type: "submit", class: "btn-plain") do %>
        <%= image_tag "https://res.cloudinary.com/dhv4phhqr/image/upload/v1749762323/magik_iuf3qa.svg", class: "btn-icon" %>
          Ask me something else!
      <% end %>
    </div>
</div>
