<div class="container p-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <div></div>
        <%= link_to "<i class='fas fa-xmark rounded-white'></i>".html_safe, @recipe %>
    </div>
    <h1 class="mb-5">Ai Assistant</h1>

    <div class="ai-actions-container d-flex justify-content-center align-items-center flex-column">

      <div class="d-flex justify-content-center align-items-center gap-4">
        <div class="ai-actions d-flex justify-content-center align-items-center">
          <span>Suggest smart ingredient swaps</span>
        </div>
        <%= link_to choice_swap_ingredients_recipe_ingredients_path(@recipe), class: "ai-actions-btn" do %>
          <%= image_tag "https://res.cloudinary.com/dhv4phhqr/image/upload/v1749762323/magik_iuf3qa.svg" %>
        <% end %>
      </div>

      <div class="d-flex justify-content-center align-items-center gap-4">
        <div class="ai-actions d-flex justify-content-center align-items-center">
          <span>Smart-scale ingredients to my servings</span>
        </div>
        <%= button_tag(type: "submit", class: "ai-actions-btn") do %>
          <%= image_tag "https://res.cloudinary.com/dhv4phhqr/image/upload/v1749762323/magik_iuf3qa.svg" %>
        <% end %>
      </div>

      <div class="d-flex justify-content-center align-items-center gap-4">
        <div class="ai-actions d-flex justify-content-center align-items-center">
          <span>Give me a lighter, lower calorie version</span>
        </div>
        <%= form_with url: create_low_calories_recipe_path(@recipe), method: :post, local: true do %>
          <%= button_tag(type: "submit", class: "ai-actions-btn") do %>
            <%= image_tag "https://res.cloudinary.com/dhv4phhqr/image/upload/v1749762323/magik_iuf3qa.svg" %>
          <% end %>
        <% end %>
      </div>

      <div class="d-flex justify-content-center align-items-center gap-4">
        <div class="ai-actions d-flex justify-content-center align-items-center">
          <span>Suggest drinks that pair well with this recipe</span>
        </div>
        <%= button_tag(type: "submit", class: "ai-actions-btn") do %>
          <%= image_tag "https://res.cloudinary.com/dhv4phhqr/image/upload/v1749762323/magik_iuf3qa.svg" %>
        <% end %>
      </div>


    </div>







    <div class="fixed-bottom-button">
      <%= button_tag(type: "submit", class: "btn-plain") do %>
        <%= image_tag "https://res.cloudinary.com/dhv4phhqr/image/upload/v1749762323/magik_iuf3qa.svg", class: "btn-icon" %>
          Ask me something else!
      <% end %>
    </div>
</div>
