<div class="container p-4">

  <div class="card-body">

    <!-- Logo -->
    <div class="d-flex">
      <%= link_to root_path do %>
        <%= image_tag("https://res.cloudinary.com/dhv4phhqr/image/upload/v1749654034/myaicookbook_tr1h3a.svg",
                      alt: "My AI Cookbook Logo",
                      class: "logo") %>
      <% end %>
    </div>

    <!-- Search bar -->
    <%= form_with url: "", method: :get, local: true,
          class: "d-flex mt-2", role: "search" do |f| %>
        <div class="search-wrapper position-relative flex-grow-1">
          <i class="fa-solid fa-magnifying-glass search-icon"></i>
          <%= f.text_field :query,
              class: "form-control",
              style: "padding-left: 2.5rem; color: #438866;",
              type: "search",
              value: "#{@initial_value}",
              placeholder: "Find a recipe",
              "aria-label": "Search" %>
        </div>
        <!-- <%= f.submit "Search", class: "btn btn-outline-success" %> -->
      <% end %>

     <!-- Recipes tri -->

    <div class="recipes-container mt-4">
    <% if @recipes.empty? %>
      <p>No recipes found matching your search.</p>
    <% else %>
      <% @grouped_recipes.each do |letter, recipes| %>
        <h5 class="text-uppercase mb-2" style="color: #438866;"><%= letter %></h5>

        <!-- Recipe cards -->
        <% recipes.each do |recipe| %>
          <div class="recipe-card-link">
            <div class="recipe-card mb-3" style="background-image: url('<%= recipe.url_image %>');">
              <!-- Heart button, sorti du link-->
              <div class="favorite-icon" id="favorite-icon-<%= recipe.id %>">
                <button class="favorite-btn"
                        data-controller="favorite"
                        data-action="click->favorite#toggle"
                        data-favorite-recipe-id-value="<%= recipe.id %>">
                  <i class="<%= favorite?(recipe) ? 'fas' : 'far' %> fa-heart"></i>
                </button>
              </div>
              <!-- Cliquable vers la recette -->
               <%= link_to recipe_path(recipe), class: "card-full-link" do %>
                  <div class="recipe-card mb-3" style="background-image: url('<%= recipe.url_image %>');">
                    <!-- Overlay cliquable -->
                    <div class="card-overlay">
                      <h5><%= recipe.name %></h5>
                      <p><%= pluralize(recipe.ingredients.count, "ingredient") %> | <%= recipe.preparation_time %> Min</p>
                    </div>
                  </div>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

<%= render "shared/bottom_navbar" %>
