<div class="container p-4">

  <div class="card-body">

    <!-- Logo -->
    <%= image_tag("https://res.cloudinary.com/dhv4phhqr/image/upload/v1749654034/myaicookbook_tr1h3a.svg", alt: "My AI Cookbook Logo", class: "logo") %>

    <!-- Search bar -->

    <div class="d-flex justify-content-center">
      <div class="search-bar">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Find a recipe" id="recipe-search-input">
        <i class="fas fa-filter"></i>
      </div>
    </div>

     <!-- Recipes tri -->

    <div class="recipes-container mt-4">
      <% @grouped_recipes.each do |letter, recipes| %>
        <h5 class="text-uppercase mb-2"><%= letter %></h5>

        <!-- Recipe cards -->

        <% recipes.each do |recipe| %>
          <div class="recipe-card-link">
            <div class="recipe-card mb-3" style="background-image: url('<%= recipe.url_image %>');">
              <!-- Heart button, sorti du link-->
              <div class="favorite-icon" id="favorite-icon-<%= recipe.id %>">
                <%= button_to toggle_favorite_recipe_path(recipe),
                              method: :post,
                              remote: true,
                              form: { data: { turbo_stream: true } },
                              class: "favorite-btn" do %>

                  <% is_favorite = Collection.find_by(name: 'Favorites')&.recipes&.include?(recipe) %>
                  <i class="<%= is_favorite ? 'fas' : 'far' %> fa-heart"></i>
                <% end %>
              </div>
              <!-- Cliquable vers la recette -->
              <%= link_to recipe_path(recipe), class: "card-full-link" do %>
                <span class="sr-only"><%= recipe.name %></span>
              <% end %>
              <!-- Overlay-->
              <div class="card-overlay">
                <h5><%= recipe.name %></h5>
                <p><%= pluralize(recipe.ingredients.count, "ingredient") %> | <%= recipe.preparation_time %> Min</p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/bottom_navbar" %>
