<div class="container p-4" data-controller="file-upload">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div></div>
      <%# link_to "<i class='rounded-white fas fa-arrow-left'></i>".html_safe, :back %>
      <%= link_to "<i class='fas fa-xmark rounded-white-cross'></i>".html_safe, root_path %>
    </div>

    <h1 class="mb-4">Import a recipe from a picture</h1>
          <%= simple_form_for(@recipe, url: create_via_img_recipes_path, data: { action: "submit->file-upload#onFormSubmit" }) do |f| %>
            <div class="custom-file-upload">
              <%= f.input :image, as: :file,
                name: "image",
                label: false,
                input_html: { id: "recipe_image", class: "custom-file-input", style: "display:none;", data: { file_upload_target: "input"} }
              %>
              <label for="recipe_image" class="custom-file-label">
                <i class="fa-solid fa-camera input-icon"></i>
                <span id="custom-file-text" data-file-upload-target="text">Upload a picture</span>
              </label>
            </div>
            <div class="fixed-bottom-button">
              <%= button_tag(type: "submit", class: "btn-plain", data: { file_upload_target: "submit" }, disabled: true) do %>
                <i class="fa-solid fa-wand-magic-sparkles btn-icon"></i>
                 Import recipe
              <% end %>
            </div>
          <% end %>

    <%= render "shared/waiting_modal", display_text: "Analyzing your image..." %>
  </div>
</div>
