<div class="container p-4" data-controller="url-upload">
  <div class="card-body">
    <div class="d-flex justify-content-between align-items-center mb-2">
      <div></div>
      <%# link_to "<i class='rounded-white fas fa-arrow-left'></i>".html_safe, :back %>
      <%= link_to "<i class='fas fa-xmark rounded-white-cross'></i>".html_safe, root_path %>
    </div>
    <h1 class="mb-4">Import a recipe from the Web</h1>
          <%= simple_form_for :url_form, url: create_via_url_recipes_path, method: :post, data: { action: "submit->url-upload#onFormSubmit" } do |f| %>
            <div class="input-with-icon">
              <i class="fa-solid fa-link input-icon"></i>
              <%= f.input :url,
                name: "recipe_url",
                placeholder: "Paste your recipe’s page link",
                input_html: { class: "custom-input", data: { action: "input->url-upload#toggleButton", url_upload_target: "input"} },
                label: false
                %>
            </div>
            <div class="fixed-bottom-button">
              <%= button_tag(type: "submit", class: "btn-plain", data: { url_upload_target: "submit" }, disabled: true) do %>
                <i class="fa-solid fa-wand-magic-sparkles btn-icon"></i>
                 Import recipe
              <% end %>
            </div>
          <% end %>

        <%= render "shared/waiting_modal", display_text: "Analyzing your URL..." %>

    </div>
  </div>
</div>
