<div class="container p-4">

  <div class="card-body">


    <div class="d-flex justify-content-between align-items-center mb-2">

      <%= link_to :back do %>
       <i class='rounded-white fas fa-arrow-left'></i>
      <% end %>
      <div class="d-flex">
        <i class="far fa-heart me-2 rounded-white"></i>

        <%= button_to false, class:"dot-button" do %>
        <i class='fas fa-ellipsis rounded-white dots'></i>
        <% end %>
      </div>
    </div>

    <h1 class= "my-4"><%= @recipe.name %></h1>

    <div class="my-3 position-relative">
      <img src="<%= @recipe.url_image %>" alt="<%= @recipe.name %>" class="img-fluid rounded-4">
      <div class="position-absolute bottom-0 start-0 m-2 d-flex gap-2">
        <span class="badge bg-light text-dark"><i class="fas fa-utensils me-1"></i><%= @recipe.portions %> portions</span>
        <span class="badge bg-light text-dark"><i class="fas fa-clock me-1"></i>Prep. time <%= @recipe.preparation_time %> Min</span>
      </div>
    </div>

    <h2 class= "mt-4 mb-3">Ingredients</h2>
    <div class="card component-container p-3 rounded-4">
      <% @recipe.ingredients.each do |ingredient| %>
        <div class="d-flex justify-content-between py-1">
          <span><%= ingredient.name.capitalize %></span>
          <span><strong><%= display_number(ingredient.quantity) %> <%= ingredient.unit %></strong></span>
        </div>
      <% end %>
    </div>

    <h2 class= "mt-4 mb-3">Instructions</h2>

    <% @recipe.description.each_with_index do |step, index| %>
      <div class="card component-container p-3 rounded-4 mb-3">
        <span style="color:#438866; font-weight:500;" class= "mb-2">Step <%= index + 1 %></span>
        <p><%= step %></p>
      </div>
    <% end %>
  </div>
</div>

<div class="modal-options p-5 d-none rounded-top-4" data-controller="modal">
  <div class="container">
    <%= link_to "<i id='close' style='font-size: 25px;' class='rounded-white fa-solid fa-xmark'></i>".html_safe %>
    <h1 class= "text-center fw-normal my-3">Options</h1>
    <div class="row justify-content-center">
      <%= link_to "<i class='fa-solid fa-wand-magic-sparkles me-2'></i> Ask AI assistant".html_safe, ask_ai_recipe_path(@recipe), class:"btn btn-plain mt-3" %>
      <%= link_to "<i class='fa-solid fa-pencil me-2'></i> Edit recipe".html_safe, edit_recipe_path, class:"btn btn-outline mt-3" %>
      <%= link_to recipe_path(@recipe),
          data: {
            turbo_method: :delete,
            turbo_confirm: "Are you sure?"
          },
          class: "btn btn-outline-red mt-3" do %>
        <i class="fa-solid fa-trash me-2"></i> Delete recipe
      <% end %>
    </div>

  </div>
</div>

<!-- Bottom navbar -->
<%= render "shared/bottom_navbar" %>
