<h1>Recipe page</h1>
<!-- Bottom navbar -->
<nav class="bottom-nav">
  <%= link_to root_path, class: "nav-link" do %>
    <div class="nav-content">
      <%= image_tag "home.svg", alt: "Home", class: "nav-icon" %>
      <span class="nav-label">Home</span>
    </div>
  <% end %>

  <%= link_to recipes_path, class: "nav-link" do %>
    <div class="nav-content">
      <%= image_tag "spoon.svg", alt: "Recipes", class: "nav-icon" %>
      <span class="nav-label">Recipes</span>
    </div>
  <% end %>

  <%= link_to collections_path, class: "nav-link active" do %>
    <div class="nav-content">
      <%= image_tag "book.svg", alt: "Books", class: "nav-icon" %>
      <span class="nav-label">Books</span>
    </div>
  <% end %>

  <% if current_user %>
    <%= link_to user_path(current_user), class: "nav-link" do %>
      <div class="nav-content">
        <%= image_tag "profile.svg", alt: "Profile", class: "nav-icon" %>
        <span class="nav-label">Profile</span>
      </div>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path, class: "nav-link" do %>
      <div class="nav-content">
        <%= image_tag "profile.svg", alt: "Profile", class: "nav-icon" %>
        <span class="nav-label">Profile</span>
      </div>
    <% end %>
  <% end %>
</nav>
