<div class="container p-4">
  <div class="d-flex">
    <%= link_to root_path do %>
      <%= image_tag("https://res.cloudinary.com/dhv4phhqr/image/upload/v1749654034/myaicookbook_tr1h3a.svg",
                    alt: "My AI Cookbook Logo",
                    class: "logo") %>
    <% end %>
  </div>

  <div class="collection-header mt-2">
    <h1>Profile</h1>
    <!-- Boutons -->
    <div class="collection-header-actions">
      <%= link_to edit_user_path, class: "icon-button" do %>
        <i class="fa-solid fa-pen icon-green"></i>
      <% end %>
    </div>
  </div>

  <div class="d-flex flex-column text-center">
    <%= content_tag :div, user_avatar(current_user, :large), class: "align-self-center mt-4" %>
    <span class= "mt-4"> <%= @user.email %> </span>
    <div class="form-control mt-4">
      <span> <%= @user.recipes.count %> recipes</span>
      <span> | </span>
      <span> <%= @user.collections.count %> books</span>
    </div>


  </div>

   <div class="d-flex justify-content-between align-items-center my-5">
    <h1>My personal diet</h1>
  </div>
  <% @user.restrictions.each do |restriction| %>
    <div class="form-control mb-3 py-2 text-center">
      <%= restriction.name %>
    </div>
  <% end %>

</div>
<!-- Bottom navbar -->
<%= render "shared/bottom_navbar" %>
