<div id="collection_form_container" data-controller="form-gallery" data-collection-id="<%= @collection.id %>" data-form-gallery-assets-base-path="<%= asset_path('') %>">
  <%= form_with model: @collection, url: collections_path, method: :post, data: { turbo_action: "replace" } do |f| %>
    <%= hidden_field_tag :step, "image" %>
    <%= hidden_field_tag :id, @collection.id %>

    <div class="d-flex justify-content-between align-items-center mb-2">
      <div></div>
      <%= button_to discard_collection_path(@collection),
        method: :delete,
        class:"dot-button",
        data: { turbo_confirm: "Are you sure you want to cancel?" },
        form: { data: { turbo_action: "replace" } } do %>
        <i class='fas fa-xmark rounded-white'></i>
      <% end %>
    </div>

    <h1 class= "my-4"><%= @collection.name || "Create a new collection" %></h1>

    <div class="steps steps-small mb-5">
      <span class="circle done"></span>
      <span class="circle active animated-circle"></span>
      <div class="progress-bar">
        <span class="indicator indicator-4 animated-bar"></span>
      </div>
    </div>

    <h2 class="mb-4">Cover image</h2>

    <div class="mb-4">
      Add an image for this collection:
    </div>

    <div class="d-flex justify-content-center" data-form-gallery-target="toggleUrlButton">
      <button class="btn-plain mb-4" data-action="click->form-gallery#toggleUrlContent">
        <i class="fa-solid fa-link btn-icon"></i>
        Add from an URL
      </button>
    </div>
    <div data-form-gallery-target="urlcontainer" class="d-none">
      <div class="mb-4">
        <%= f.text_field :url_image, class: "form-control", data: { action: "input->form-gallery#toggleUrlButton", "form-gallery-target": "input"} %>
      </div>
      <div class="d-flex justify-content-center">
        <%= f.submit "Next", class: "btn-plain mb-4", data: { form_gallery_target: "urlsubmit" }, disabled: true %>
      </div>
    </div>
    <div class="d-flex justify-content-center" data-form-gallery-target="toggleGalleryButton">
      <button class="btn-plain mb-4" data-action="click->form-gallery#toggleGalleryContent">
        <i class="fa-solid fa-images btn-icon"></i>
        Choose from gallery
      </button>
    </div>
    <div data-form-gallery-target="gallerycontainer" class="d-none mb-4">
      <div class="collections-grid mb-4">
        <% (1..11).each do |i| %>
          <div class="collection-card gallery-image" id='Gallery<%= i %>' data-form-gallery-target="gallerycard" data-action="click->form-gallery#toggleGalleryButton">
            <div style="position: relative; width: 100%; height: 100%;">
              <%= image_tag "Gallery#{i}.png", alt: "Gallery#{i}", class: "img-fluid rounded-4 mb-3", style: "width: 100%; height: 100%; object-fit: cover; display: block;" %>
              <div style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.1)); pointer-events: none;"></div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center">
        <%= f.submit "Next", class: "btn-plain mb-4", data: { form_gallery_target: "gallerysubmit" }, disabled: true %>
      </div>
    </div>
  <% end %>
</div>
