<!DOCTYPE html>
<html>
  <head>
    <title>MyAiCookBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dhv4phhqr/image/upload/v1749654034/book_vljedv.svg">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
